body {
    background-color: darkslategray;
    color: antiquewhite;
}

header {
    font-size: 30px;
    color: antiquewhite;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-size: 30px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 40px;
    color: antiquewhite;
}

.image-row {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: antiquewhite;
    padding-top: 4px;
}

img {
    height: 6vh;
    width: 6wh;
}

#links li a {
    text-decoration: none;
    color: antiquewhite;
}

#links li a:hover {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
    font-size: larger;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

main {
    justify-content: center;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0px;
    justify-content: center;
    padding-right: 70px;
    margin-right: 30px;
}

.modal {
    display: none;
    position: fixed;
    top: 10%;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    height: 80%;
    width: 80%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

#resume-img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    position: relative;
    height: 100%;
    width: 100%;
}

#close-modal {
    position: absolute;
    z-index: 10;
    top: 15px;
    right: 25px;
    background-color: transparent;
    color: grey;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

#aboutMe {
    padding:50px 150px 0px 10px;
}

#project-meme {
    display: block;
    width: 100%;
    height: auto;
    object-fit: scale-down;
    position: relative;
    height: 75%;
    width: 75%;
}